body {
    background-color: lightblue;
}
.left {
    float: left;
    margin: 20px;
}
.right {
    float: right;
    margin: 20px;
}
.center {
    text-align: center;
    font-size: 25px;
    color: red;
    
}
.center h3 {
    color: black;
}
.color {
    color: black;
    font-size: 50px;
    padding: 35px;

}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
  }
  #message {
      font-size: 25px;
  }